[Docker]
    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type = samtools
            path = samtools
    [[gatk4]]
        image = broadinstitute/gatk:4.1.6.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java
    [[cnv_postprocess]]
        image = davelabhub/cnv_postprocessing:20210311
        [[[cnv_postprocess]]]
            resource_type   = cnv_postprocess
            path            = cnv_postprocess

[Path]

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[new_cnv_pon]]
        resource_type   = pon
        path            = gs://davelab_data/ref/human/hg38/cnv/Noncoding.no_exon_utr.pad10.55071.pon.hdf5

    [[new_cnv_preprocessed_intervals]]
        resource_type   = interval_list
        path            = gs://davelab_data/ref/human/hg38/cnv/Noncoding.no_exon_utr.pad10.55071.preprocessed.interval_list

    [[gene_bed]]
        resource_type   = gene_bed
        path            = gs://davelab_data/ref/human/hg38/cnv/refseq.gene.bed
    [[cyto_bed]]
        resource_type   = cyto_bed
        path            = gs://davelab_data/ref/human/hg38/cnv/cytoBand.txt

    [[arm_bed]]
        resource_type   = arm_bed
        path            = gs://davelab_data/ref/human/hg38/cnv/chrom_arms.bed