[gatk_bedtointervallist__dna]
    module          = GATK
    submodule       = BedToIntervalList
    docker_image    = gatk4

    final_output    = interval_list

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx
        bed             = target_bed

[utils_getsamplefrombamheader__dna]
    module          = Utils
    submodule       = GetSampleFromBAMHeader
    docker_image    = samtools

[gatk_mutect2__dna]
    module          = GATK
    submodule       = Mutect2
    docker_image    = gatk4

    input_from      = gatk_bedtointervallist__dna, utils_getsamplefrombamheader__dna

    final_output    = vcf_gz, vcf_tbi, stats_table

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[gatk_filtermutectcalls__dna]
    module          = GATK
    submodule       = FilterMutectCalls
    docker_image    = gatk4

    input_from      = gatk_mutect2__dna

    final_output    = vcf_gz, vcf_tbi

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_gunzipvcf__dna]
    module          = Utils
    submodule       = GunzipVCF
    docker_image    = gunzip

    input_from      = gatk_filtermutectcalls__dna

[annovar__dna]
    module          = Annovar

    input_from      = utils_gunzipvcf__dna

    final_output    = vcf

    [[args]]
        dbdir       = "/ref/annovar/humandb"
        operations  = "g,g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol    = "ensGene,refGene,genomicSuperDups,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver    = "hg38"
