[utils_consolidatesamplename__dna]

    module      = Utils
    submodule   = ConsolidateSampleName

[samplesplitter_samplesplitter]
    module      = SampleSplitter
    submodule   = SampleSplitter

    input_from  = utils_consolidatesamplename__dna

[utils_gunzipvcf__dna]

    module          = Utils
    submodule       = GunzipVCF
    docker_image    = gunzip

    input_from      = samplesplitter_samplesplitter

[jacquard__dna]

    module          = Jacquard
    docker_image    = jacquard

    input_from      = utils_gunzipvcf__dna

    final_output    = vcf

[annovar__dna]
    module          = Annovar

    input_from      = jacquard__dna

    final_output    = vcf

    [[args]]
        dbdir       = "/ref/annovar/humandb"
        operations  = "g,g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol    = "ensGene,refGene,genomicSuperDups,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver    = "hg38"
