[Docker]

    [[sentieon]]
        image = davelabhub/sentieon:v201911
        [[[sentieon]]]
            resource_type   = sentieon
            path            = sentieon

    [[gunzip]]
        image = lindsayliang/gzip_tbi_gvcf:latest
        [[[gunzip]]]
            resource_type = gunzip
            path = gunzip

    [[bcftools]]
        image = davelabhub/bcftools:1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

[Path]

    [[padded_target_bed]]
        resource_type = bed
        path = ""

    [[ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa

    [[ref_idx]]
        resource_type   = ref_idx
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR/gatk/GRCh38.p12.genome.plus.ERCC.maskPAR.dict

    [[annovar]]
        resource_type = annovar
        path = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type = perl
        path = /usr/bin/perl
