[createtranslocationpanelofnormals__dna]
    module          = TranslocationPONMerger
    submodule       = CreateTranslocationPanelOfNormals
    docker_image    = sv_pon
    final_output    = pon, full_pon
        [[args]]
            merge_distance = 10
            min_reads = 5
            min_samples = 2