[Docker]

    [[spring]]
        image = davelabhub/spring:20210311
        [[[spring]]]
            resource_type = spring
            path          = spring

    [[cancer]]
        image = davelabhub/cancer:20210311

    [[fastqc]]
        image = davelabhub/fastqc:0.11.8--1
        [[[fastqc]]]
            resource_type   = fastqc
            path            = fastqc

    [[trimmomatic]]
        image = davelabhub/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic

    [[bwa]]
        image = davelabhub/bwa_samtools:20190123
        [[[bwa]]]
            resource_type = bwa
            path          = bwa
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[bowtie2]]
        image = davelabhub/bowtie2_plus_samtools:v20191121
        [[[bowtie2]]]
            resource_type   = bowtie2
            path            = bowtie2
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[star]]
        image = davelabhub/star:2.7.1a--0
        [[[star]]]
            resource_type   = star
            path            = STAR

    [[picard]]
        image = biocontainers/picard-tools:v2.8.1dfsg-1-deb_cv1
        [[[picard]]]
            resource_type   = picard
            path            = PicardCommandLine

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[gatk3]]
        image = broadinstitute/gatk3:3.8-1
        [[[gatk3]]]
            resource_type   = gatk
            path            = GenomeAnalysisTK.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[qcparser]]
        image = davelabhub/qcparser:20210311
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

    [[bedsam]]
        image = davelabhub/bedsam:v20200130
        [[[bedtools]]]
            resource_type = bedtools
            path          = bedtools
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[sentieon]]
        image = davelabhub/sentieon:v201911
        [[[sentieon]]]
            resource_type   = sentieon
            path            = sentieon

    [[tabix]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[tabix]]]
            resource_type   = tabix
            path            = tabix

    [[salmon]]
        image = davelabhub/salmon:1.2.1--hf69c8f4_0
        [[[salmon]]]
            resource_type = salmon
            path          = salmon

    [[tximport]]
        image = davelabhub/tximport:v20201109
        [[[tximport_script]]]
            resource_type = tximport_script
            path          = run_tximport.R

    [[bgzip]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[bgzip]]]
            resource_type = bgzip
            path = bgzip

    [[strelka2]]
        image = davelabhub/strelka:2.9.10--0
        [[[strelka2]]]
            resource_type = strelka2
            path = configureStrelkaGermlineWorkflow.py

    [[gunzip]]
        image = lindsayliang/gzip_tbi_gvcf:latest
        [[[gunzip]]]
            resource_type = gunzip
            path = gunzip

    [[bcftools]]
        image = davelabhub/bcftools:1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:20210311
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py

    [[deepvariant]]
        image = gcr.io/deepvariant-docker/deepvariant:0.8.0
        [[[deepvariant]]]
            resource_type = deepvariant
            path = /opt/deepvariant/bin/run_deepvariant

    [[purity]]
        image = davelabhub/purity:20210401
        [[[purity]]]
            resource_type   = purity
            path            = purity

    [[igv_snapshot]]
        image = davelabhub/igv_translocation:20210311
        [[[igv_snapshot]]]
            resource_type   = igv_snapshot
            path            = igv_snapshot

    [[variantfiltering]]
        image = davelabhub/variantfiltering:20210311
        [[[variantfiltering]]]
            resource_type = variantfiltering
            path = variantfiltering

    [[fgbio]]
        image = davelabhub/fgbio:1.3.0--0
        [[[fgbio]]]
            resource_type = fgbio
            path = fgbio

    [[filter_chrom_reads]]
        image = davelabhub/filter_chrom_reads:20210311
        [[[filter_chrom_reads]]]
            resource_type   = filter_chrom_reads
            path            = filter_chrom_reads

    [[disco_wave]]
        image = davelabhub/disco-wave:20210311
        [[[disco_wave]]]
            resource_type   = disco_wave
            path            = Main.py

	[[delly]]
        image = davelabhub/delly:20210311
        [[[delly]]]
            resource_type   = delly
            path            = delly

	[[lumpy]]
        image = davelabhub/lumpy-sv:20210311
        [[[lumpy]]]
            resource_type   = lumpy
            path            = lumpy

    [[dellymerger]]
        image = davelabhub/dellymerger:20210311
        [[[dellymerger]]]
            resource_type   = dellymerger
            path            = dellymerger

    [[lumpymerger]]
        image = davelabhub/lumpymerger:20210311
        [[[lumpymerger]]]
            resource_type   = lumpymerger
            path            = lumpymerger

    [[dellylumpymerger]]
        image = davelabhub/dellylumpymerger:20210311
        [[[dellylumpymerger]]]
            resource_type   = dellylumpymerger
            path            = dellylumpymerger

    [[dellylumpy_anno_merger]]
        image = davelabhub/dellylumpy_anno_merger:20210311
        [[[dellylumpy_anno_merger]]]
            resource_type   = dellylumpy_anno_merger
            path            = dellylumpy_anno_merger

    [[annotate_sv_repeats]]
        image = davelabhub/annotate_sv_repeats:20210311
        [[[annotate_sv_repeats]]]
            resource_type   = annotate_sv_repeats
            path            = annotate_sv_repeats

    [[annotate_sv_genes]]
        image = davelabhub/annotate_sv_genes:20210311
        [[[annotate_sv_genes]]]
            resource_type   = annotate_sv_genes
            path            = annotate_sv_genes

    [[annotate_sv_b_cell_genes]]
        image = davelabhub/annotate_sv_b_cell_genes:20210311
        [[[annotate_sv_b_cell_genes]]]
            resource_type   = annotate_sv_b_cell_genes
            path            = annotate_sv_b_cell_genes

    [[annotate_sv_pon]]
        image = davelabhub/annotate_sv_pon:20210311
        [[[annotate_sv_pon]]]
            resource_type   = annotate_sv_pon
            path            = annotate_sv_pon

    [[filter_translocations]]
        image = davelabhub/filter_translocations:20210311
        [[[annotate_sv_pon]]]
            resource_type   = filter_translocations
            path            = filter_translocations

    [[cnv_postprocess]]
        image = davelabhub/cnv_postprocessing:20210506
        [[[cnv_postprocess]]]
            resource_type   = cnv_postprocess
            path            = cnv_postprocess

    [[viral_detection]]
        image = davelabhub/viral_detection:20210504
        [[[viral_detection]]]
            resource_type   = viral_detection
            path            = viral_detection

[Path]

    [[rrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/ucsc/annotation/ucsc_rRNA.sorted.merged.bed

    [[gene_bed]]
        resource_type   = gene_bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.genes.gene_name.bed

    [[exonic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.exons.bed

    [[utr_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.utrs.bed

    [[intron_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.introns.bed

    [[intergenic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.intergenic.bed

    [[mirna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.miRNA.bed

    [[lincrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.lincRNA.bed

    [[ercc_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/other_bed/ERCC_no_polyA.bed

    [[adapters]]
        resource_type   = adapters
        path            = gs://davelab_data/tools/Trimmomatic_0.36/adapters/adapters.fa

    [[primary_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.fa

    [[primary_ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.fa.fai

    [[primary_ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/gatk/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.dict

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR/gatk/GRCh38.p12.genome.plus.ERCC.maskPAR.dict

    [[transcript_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/rsem/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.transcripts.fa

    [[bwa_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR/bwa/GRCh38.p12.genome.plus.ERCC.maskPAR.fa*

    [[star_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/star

    [[tx2gene]]
        resource_type   = tx2gene
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/gencode.v30.annotation.tx2gene

    [[anno]]
        resource_type   = anno
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/genes.bed

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl

    [[whitelist]]
        resource_type   = whitelist
        path            = gs://davelab_data/ref/purity_whitelist/whitelist_variants_3-26-20.csv

    [[repeat_blacklist]]
        resource_type   = repeat_blacklist
        path            = gs://davelab_data/ref/naresh_sv/hg38_repeat_masker.sorted.bed

    [[repeat_blacklist_index]]
        resource_type   = repeat_blacklist_index
        path            = gs://davelab_data/ref/naresh_sv/hg38_repeat_masker.sorted.bed.idx

    [[level1_bp]]
        resource_type   = level1_bp
        path            = gs://davelab_data/ref/naresh_sv/breakpoints_level_1.bed

    [[chr_names]]
        resource_type   = chr_names
        path            = gs://davelab_data/ref/naresh_sv/chr.txt

    [[dac_gap_blacklist]]
        resource_type   = dac_gap_blacklist
        path            = gs://davelab_data/ref/naresh_sv/final_black_list_hg38.bed

    [[segmental_blacklist]]
        resource_type   = segmental_blacklist
        path            = gs://davelab_data/ref/naresh_sv/hg38_segmental_dups.sorted.bed

    [[paper_freq_pairs]]
        resource_type   = paper_freq_pairs
        path            = gs://davelab_data/ref/naresh_sv/mate_partner_genes_expanded_ig.txt

    [[sv_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[sv_ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[sv_ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[exclude_list]]
        resource_type   = exclude_list
        path            = gs://davelab_data/ref/human/hg38/human.hg38.excl.tsv

    [[ig_bed]]
        resource_type   = ig_bed
        path            = gs://davelab_data/ref/naresh_sv/ig.bed

    [[fish_bed]]
        resource_type   = fish_bed
        path            = gs://davelab_data/ref/naresh_sv/FISH_captures.bed

    [[cyto_bed]]
        resource_type   = cyto_bed
        path            = gs://davelab_data/ref/human/hg38/cnv/cytoBand.txt

    [[arm_bed]]
        resource_type   = arm_bed
        path            = gs://davelab_data/ref/human/hg38/cnv/chrom_arms.bed

    [[blacklist]]
        resource_type   = blacklist
        path            = gs://davelab_data/ref/human/hg38/cnv/blacklist.tsv

    [[target_bed]]
        resource_type   = bed
        path            = ""

    [[target_exonic_bed]]
        resource_type   = bed
        path            = ""

    [[target_bed_primary_ref]]
        resource_type   = bed
        path            = ""

    [[target_exonic_bed_primary_ref]]
        resource_type   = bed
        path            = ""

    [[padded_target_bed]]
        resource_type = bed
        path = ""

    [[translocation_pon]]
        resource_type   = translocation_pon
        path            = ""

    [[cnv_pon]]
        resource_type   = pon
        path            = ""

    [[cnv_preprocessed_intervals]]
        resource_type   = interval_list
        path            = ""
