[Docker]
    [[filter_long_insert_exonic_reads]]
        image = davelabhub/filter_long_insert_exonic_reads:20210413
        [[[filter_long_insert_exonic_reads]]]
            resource_type   = filter_long_insert_exonic_reads
            path            = filter_long_insert_exonic_reads

[Path]
    [[padded_exon_bed]]
        resource_type   = padded_exon_bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/other_bed/refseq_canonical_chr.exon.pad3.bed