[arriba]
    module          = Arriba
    submodule       = Arriba
    docker_image    = arriba
    final_output    = fusions

[fusion_cleaner]
	module 			= Arriba
	submodule 		= FusionAggregator
	docker_image 	= fusion_aggregator
	final_output 	= cleaned_fusions
	input_from      = arriba

[fusion_whitelist]
	module 			= Arriba
	submodule 		= FusionWhitelist
	docker_image 	= fusion_aggregator
	final_output 	= wl_fusions
	input_from 		= fusion_aggregator
