[Docker]
    [[arriba]]
        image = davelabhub/arriba:20210311
        [[[arriba]]]
            resource_type   = arriba
            path            = arriba
    [[fusion_aggregator]]
        image = davelabhub/fusion_aggregator:20210517
        [[[fusion_aggregator]]]
            resource_type   = fusion_aggregator
            path            = fusion_aggregator

[Path]
    [[fusion_ref]]
    	resource_type   = fusion_ref
        path            = gs://davelab_data/ref/fusion_ref_arriba

    [[whitelist]]
        resource_type   = whitelist
        path            = gs://davelab_data/ref/fusion_ref_arriba/whitelist_fusions.pad1000.txt