[Docker]
    [[cellranger]]
        image = davelabhub/cellranger:4.0.0

[Path]
	[[cellranger]]
		resource_type 	= cellranger
		path          	= gs://davelab_data/tools/cellranger-4.0.0/cellranger-4.0.0.zip
	[[transcriptome]]
		resource_type 	= transcriptome
		path 			= gs://davelab_data/tools/cellranger-4.0.0/refdata-gex-GRCh38-2020-A.tar.gz