[Docker]
    [[cellranger]]
        image = davelabhub/samtools:1.9--h8571acd_11

[Path]
	[[cellranger]]
		resource_type 	= cellranger
		path          	= s3://davelab-data/tools/cellranger-4.0.0/cellranger-4.0.0.tar.gz
	[[transcriptome]]
		resource_type 	= transcriptome
		path 			= s3://davelab-data/tools/cellranger-4.0.0/refdata-gex-GRCh38-2020-A.tar.gz