###Get splice DNA
[samtools_sort_spliced_dna]
    module          = Samtools
    submodule       = Sort_by_Name
    final_output    = bam
    docker_image    = samtools

[samtools_bam2fq_splice_dna]
    module          = Samtools
    submodule       = Fastq_pair_only
    final_output    = R1, R2
    docker_image    = samtools
    input_from      = samtools_sort_spliced_dna

[utils_getreadgroup_splice_dna]
    module          = Utils
    submodule       = GetReadGroup
    input_from      = samtools_bam2fq_splice_dna

[star_splice_dna]
    module          = Star
    docker_image    = star
    input_from      = samtools_bam2fq_splice_dna, utils_getreadgroup_splice_dna
    final_output    = transcriptome_mapped_bam, raw_read_counts, final_log

    [[args]]
        ref     = star_ref

[rename_transcriptome_bam__bam_dna]
    module          = RenameKeys
    submodule       = RenameTranscriptomeBamToBam
    docker_image    = samtools
    input_from      = star_splice_dna
    final_output    = bam

[gatk_filtersamreads__spliced_dna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4
    input_from      = rename_transcriptome_bam__bam_dna
    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx
        include_reads   = True


###Get Spliced RNA
[rename_transcriptome_bam__bam_rna]
    module          = RenameKeys
    submodule       = RenameTranscriptomeBamToBam
    docker_image    = samtools
    final_output    = bam

[rename_rna_bam__bam]
    module          = RenameKeys
    submodule       = RenameRnaBamToBam
    docker_image    = samtools
    final_output    = bam

[utils_getreadnames__spliced_rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam
    final_output    = read_names
    input_from      = rename_rna_bam__bam

    [[args]]
        spliced_reads = True

[gatk_filtersamreads__spliced_rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4
    input_from      = utils_getreadnames__spliced_rna, rename_transcriptome_bam__bam_rna
    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx
        include_reads   = True

###Merge bams
[sort_spliced_dna_bam]
    module          = Samtools
    submodule       = Sort
    docker_image    = samtools
    input_from      = gatk_filtersamreads__spliced_dna

[sort_spliced_rna_bam]
    module          = Samtools
    submodule       = Sort
    docker_image    = samtools
    input_from      = gatk_filtersamreads__spliced_rna

[index_spliced_dna_bam]
    module          = Samtools
    submodule       = Index
    docker_image    = samtools
    input_from      = sort_spliced_dna_bam
    final_output    = bam_idx

[index_spliced_rna_bam]
    module          = Samtools
    submodule       = Index
    docker_image    = samtools
    input_from      = sort_spliced_rna_bam
    final_output    = bam_idx

[merge_bam]
    module          = MergeBams
    docker_image    = samtools
    input_from      = gatk_filtersamreads__spliced_dna, gatk_filtersamreads__spliced_rna, index_spliced_dna_bam, index_spliced_rna_bam
    final_output    = bam

    [[args]]
        bam_sorted  = False


###Quantify with SALMON

[rename_merge_bam__transcriptome_bam]
    module          = RenameKeys
    submodule       = RenameBamToTranscriptomeBam
    docker_image    = samtools
    input_from      = merge_bam
    final_output    = transcriptome_mapped_bam

[salmon_alignmentbasedquant_merge_rna]
    module          = Salmon
    submodule       = AlignmentBasedQuant
    docker_image    = salmon
    input_from      = rename_merge_bam__transcriptome_bam
    final_output    = quant_file

    [[args]]
        ref     = ref

[tximport__merge_rna]
    module          = Tximport
    docker_image    = tximport
    input_from      = salmon_alignmentbasedquant_merge_rna
    final_output    = quant_gene_counts, quant_gene_tpm
