[BamToFastq]
    module = Bedtools
    submodule = BamToFastq

    docker_image = bedsam
    
    final_output = R1, R2

[star__rna]
    module          = Star
    docker_image    = star

    input_from      = BamToFastq

    final_output    = transcriptome_mapped_bam, raw_read_counts, final_log

    [[args]]
        ref         = star_ref


[salmon_alignmentbasedquant__rna]
    module          = Salmon
    submodule       = AlignmentBasedQuant
    docker_image    = salmon

    input_from      = star__rna

    final_output    = quant_file

[tximport__rna]
    module          = Tximport
    docker_image    = tximport

    input_from      = salmon_alignmentbasedquant__rna

    final_output    = quant_gene_counts, quant_gene_tpm
