[Docker]
    [[mixcr]]
        image = davelabhub/mixcr:v4
        [[[mixcr]]]
            resource_type   = mixcr
            path            = mixcr
    [[samtools]]
        image = davelabhub/samtools:1.12--h9aed4be_1
        [[[samtools]]]
            resource_type = samtools
            path = samtools
