[utils_consolidatesamplename__tna]
    module      = Utils
    submodule   = ConsolidateSampleName

[utils_concatfastq__tna]
    module      = Utils
    submodule   = ConcatFastq

    final_output = R1, R2

[utils_genounzip__tna]
    module          = Utils
    submodule       = GenoUnzip
    input_from      = utils_concatfastq__tna
    docker_image    = genozip

    final_output    = R1, R2

[utils_subsetfastq__tna]
    module          = Utils
    submodule       = SubsetFASTQ
    docker_image    = seqtk
    input_from      = utils_genounzip__tna

    final_output    = R1, R2

    [[args]]
        sample = 10000