[Docker]
    [[spring]]
        image = davelabhub/spring:20210311

    [[cancer]]
        image = davelabhub/cancer:20210311

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java