[Docker]
    [[spring]]
        image = davelabhub/spring:latest

    [[cancer]]
        image = davelabhub/cancer:latest

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java