[utils_consolidatesamplename__tna]
    module      = Utils
    submodule   = ConsolidateSampleName

[utils_springunzip__tna]
    module          = Utils
    submodule       = SpringUnzip
    docker_image    = spring
    input_from      = utils_consolidatesamplename__tna
    final_output    = R1, R2

[demuxtna__tna]
    module = Docker
    docker_image = cancer
    final_output = demux_stats
    input_from = utils_springunzip__tna
    [[args]]
        cpus = 32
        memory = 16
        inputs = R1, R2, sample_name, barcodes
        barcodes = AGTCGACATG, TCGACATG
        commands = python -m Cancer.run demux_inline --r1 ${R1} --r2 ${R2} --barcode "${barcodes}=${OUTPUT_PATH}${sample_name}.RNA" --unmatched ${OUTPUT_PATH}${sample_name}.non-RNA --stats ${OUTPUT_PATH}all_barcode_stats.csv --name ${sample_name} --header rna
        [[[outputs]]]
            R1 = ${OUTPUT_PATH}${sample_name}.RNA.R1.fastq.gz, ${OUTPUT_PATH}${sample_name}.non-RNA.R1.fastq.gz
            R2 = ${OUTPUT_PATH}${sample_name}.RNA.R2.fastq.gz, ${OUTPUT_PATH}${sample_name}.non-RNA.R2.fastq.gz
            demux_stats = ${OUTPUT_PATH}all_barcode_stats.csv
            assay_type = rna, dna

####################### RNA Section
[utils_getdemuxfastq__rnafastqs__tna]
    module          = Utils
    submodule       = GetDemuxFASTQ

    input_from      = demuxtna__tna

    final_output    = R1, R2

    [[args]]
        keep_assay_type = RNA

################## EXOME GRAPH
[utils_getdemuxfastq__dnafastqs__tna]
    module          = Utils
    submodule       = GetDemuxFASTQ

    input_from      = demuxtna__tna

    final_output    = R1, R2

    [[args]]
        keep_assay_type = DNA

