[utils_gunzipvcf__dna]
    module          = Utils
    submodule       = GunzipVCF
    docker_image    = gunzip

[annovar__dna]
    module          = Annovar

    input_from      = utils_gunzipvcf__dna

    final_output    = vcf

    [[args]]
        dbdir       = "/ref/annovar/humandb"
        operations  = "g,g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol    = "ensGene,refGene,genomicSuperDups,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver    = "hg38"
