[viral_detection_dna_sort]
    module                      = Samtools
    submodule                   = Sort_by_Name
    docker_image                = samtools

[viral_detection_dna]
    module                      = ViralDetectionDNA
    submodule                   = ViralDetectionDNA
    docker_image                = viral_detection
    input_from                  = viral_detection_dna_sort
    final_output                = paired_viral_dna_sam, single_viral_dna_sam, viral_dna_all_log, idxstats