[samtools_sort]
    module = Samtools
    submodule = Sort_by_Name
    final_output    = bam
    docker_image = samtools
    
[samtools_index]
	module = Samtools
	submodule = Index
	input_from = samtools_sort
	docker_image = samtools
	final_output = bam_idx

[samtools_bam2fq]
    module = Samtools
    submodule = Fastq_pair_only
    final_output    = R1, R2
    docker_image = samtools
    input_from = samtools_sort, samtools_index