{
   "platform_name": "KubernetesCluster",
   "identity": "./var/eks_cc_config.json",
   "region": "us-east-1",
   "zone": "us-east-1c",
   "INST_MAX_NR_CPUS": 32,
   "gcp_secret_configured": true,
   "aws_secret_configured": true,
   "preemptible": true,
   "provider": "EKS",
   "storage_price": 0.10,
   "cpu_reserve": 0.1,
   "mem_reserve": 1,
   "pools": [
       {
           "name": "cc2-highmem-pool",
           "max_cpu": 2,
           "max_mem": 16,
           "inst_type": "r5.large",
           "preemptible": false
       },
       {
            "name": "cc4-highmem-pool",
            "max_cpu": 4,
            "max_mem": 31,
            "inst_type": "r5.xlarge",
            "preemptible": false
        },
        {
            "name": "cc8-highmem-pool",
            "max_cpu": 8,
            "max_mem": 62,
            "inst_type": "r5.2xlarge",
            "preemptible": false
        },
        {
            "name": "cc16-highmem-pool",
            "max_cpu": 16,
            "max_mem": 125,
            "inst_type": "r5.4xlarge",
            "preemptible": false
        },
        {
            "name": "cc32-highmem-pool",
            "max_cpu": 32,
            "max_mem": 250,
            "inst_type": "r5.8xlarge",
            "preemptible": false
        },
        {
           "name": "cc2-highmem-preemptible-pool",
           "max_cpu": 2,
           "max_mem": 16,
           "inst_type": "r5.large",
           "preemptible": true
       },
       {
            "name": "cc4-highmem-preemptible-pool",
            "max_cpu": 4,
            "max_mem": 31,
            "inst_type": "r5.xlarge",
            "preemptible": true
        },
        {
            "name": "cc8-highmem-preemptible-pool",
            "max_cpu": 8,
            "max_mem": 62,
            "inst_type": "r5.2xlarge",
            "preemptible": true
        },
        {
            "name": "cc16-highmem-preemptible-pool",
            "max_cpu": 16,
            "max_mem": 125,
            "inst_type": "r5.4xlarge",
            "preemptible": true
        },
        {
            "name": "cc32-highmem-preemptible-pool",
            "max_cpu": 32,
            "max_mem": 250,
            "inst_type": "r5.8xlarge",
            "preemptible": true
        }
   ]
}