[utils_consolidatesamplename__tna]
    module      = Utils
    submodule   = ConsolidateSampleName

[gatk_bedtointervallist__ontarget__tna]
    module       = GATK
    submodule    = BedToIntervalList
    docker_image = gatk4

    [[args]]
        gatk_version    = 4
        bed             = target_bed
        ref             = ref
        ref_idx         = ref_idx
        ref_dict        = ref_dict

[gatk_bedtointervallist__primary__ontarget__tna]
    module       = GATK
    submodule    = BedToIntervalList
    docker_image = gatk4

    final_output = interval_list

    [[args]]
        bed             = target_bed_primary_ref
        gatk_version    = 4
        ref             = primary_ref
        ref_dict        = primary_ref_dict
        ref_idx         = primary_ref_idx

[gatk_bedtointervallist__ontargetexome__tna]
    module       = GATK
    submodule    = BedToIntervalList
    docker_image = gatk4

    [[args]]
        gatk_version    = 4
        bed             = target_exonic_bed
        ref             = ref
        ref_idx         = ref_idx
        ref_dict        = ref_dict

[gatk_bedtointervallist__primary__ontargetexome__tna]
    module       = GATK
    submodule    = BedToIntervalList
    docker_image = gatk4

    [[args]]
        bed             = target_exonic_bed_primary_ref
        gatk_version    = 4
        ref             = primary_ref
        ref_dict        = primary_ref_dict
        ref_idx         = primary_ref_idx


####################### RNA Section

[fastqc__raw__rna]
    module          = FastQC
    docker_image    = fastqc

    final_output    = R1_fastqc, R2_fastqc

    [[args]]
        mem     = 12

[trimmomatic__rna]
    module          = Trimmomatic
    docker_image    = trimmomatic


    final_output    = trim_report

    [[args]]
        MINLEN  = 25

[fastqc__trim__rna]
    module          = FastQC
    docker_image    = fastqc

    input_from      = trimmomatic__rna

    final_output    = R1_fastqc, R2_fastqc

    [[args]]
        mem     = 12

[utils_getreadgroup__rna]
    module          = Utils
    submodule       = GetReadGroup

    input_from      = trimmomatic__rna, utils_consolidatesamplename__tna

[star__rna]
    module          = Star
    docker_image    = star

    input_from      = trimmomatic__rna, utils_getreadgroup__rna

    final_output    = transcriptome_mapped_bam, raw_read_counts, final_log

    [[args]]
        ref     = star_ref

[samtools_index__star__rna]
    module          = Samtools
    submodule       = Index
    docker_image    = samtools

    input_from      = star__rna

[picard_markduplicates__rna]
    module          = Picard
    submodule       = MarkDuplicates
    docker_image    = picard

    input_from      = star__rna, samtools_index__star__rna

    final_output    = bam

[samtools_index__picard_markduplicates__rna]
    module          = Samtools
    submodule       = Index
    docker_image    = samtools

    input_from      = picard_markduplicates__rna

    final_output    = bam_idx

[gatk_collectgcbiasmetrics__rna]
    module       = GATK
    submodule    = CollectGcBiasMetrics
    docker_image = gatk4

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = gc_bias_matrics, gc_bias_plot, summary_matrics

    [[args]]
        gatk_version    = 4
        ref             = primary_ref
        ref_idx         = primary_ref_idx
        ref_dict        = primary_ref_dict


###### RNA Section QC
[samtools_flagstat__rna]
    module          = Samtools
    submodule       = Flagstat
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = flagstat

[samtools_stats__rna]
    module =  Samtools
    submodule = Stats
    docker_image = samtools

    input_from = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output = stats

[samtools_idxstats__rna]
    module = Samtools
    submodule = Idxstats
    docker_image = samtools

    input_from = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output = idxstats

[picard_collectinsertsizematrics__rna]
    module          = Picard
    submodule       = CollectInsertSizeMetrics
    docker_image    = picard

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = insert_size_report, insert_size_histogram

[samtools_view__countreads__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__exonoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = exonic_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__intronoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = intron_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__intergenicoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = intergenic_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__utroverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = utr_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__rrnaoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = rrna_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__ontargetoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = target_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

#[samtools_view__erccoverlap__rna]
#    module          = Samtools
#    submodule       = View
#    docker_image    = samtools
#
#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna
#
#    [[args]]
#        bed             = ercc_bed
#        count_reads     = True
#        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[gatk_depthofcoverage__ontargetcoverage__rna]
    module       = GATK
    submodule    = DepthOfCoverage
    docker_image = gatk3
    input_from   = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna, gatk_bedtointervallist__primary__ontarget__tna

    final_output = interval_summary, interval_statistics, sample_summary, sample_statistics, cumulative_coverage_counts, cumulative_coverage_proportions

    [[args]]
        gatk_version = 3
        ref          = primary_ref
        ref_dict     = primary_ref_dict
        ref_idx      = primary_ref_idx
        nr_cpus      = 16
        mem          = 64

[gatk_depthofcoverage__ontargetexoncoverage__rna]
    module       = GATK
    submodule    = DepthOfCoverage
    docker_image = gatk3
    input_from   = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna, gatk_bedtointervallist__primary__ontargetexome__tna

    final_output = interval_summary, interval_statistics, sample_summary, sample_statistics, cumulative_coverage_counts, cumulative_coverage_proportions

    [[args]]
        gatk_version = 3
        ref          = primary_ref
        ref_dict     = primary_ref_dict
        ref_idx      = primary_ref_idx
        nr_cpus      = 16
        mem          = 64

###### RNA Section QCParser

[qcparser_fastqc__rawfastqc__rna]
    module          = QCParser
    submodule       = FastQC
    docker_image    = qcparser

    input_from      = fastqc__raw__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna fastqc report parsing for raw fastqs"

[qcparser_fastqc__trimfastqc__rna]
    module          = QCParser
    submodule       = FastQC
    docker_image    = qcparser

    input_from      = fastqc__trim__rna, utils_consolidatesamplename__tna

    [[args]]
    note = "rna fastqc report parsing for trimmed fastqs"

[qcparser_trimmomatic__rna]
    module          = QCParser
    submodule       = Trimmomatic
    docker_image    = qcparser

    input_from      = trimmomatic__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna trimmomatic summary report parsing"

[qcparser_samtoolsflagstat__rna]
    module          = QCParser
    submodule       = SamtoolsFlagstat
    docker_image    = qcparser

    input_from      = samtools_flagstat__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna star alignment summary report parsing"

[qcparser_samtoolsstats__rna]
    module          = QCParser
    submodule       = SamtoolsStats
    docker_image    = qcparser

    input_from      = samtools_stats__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna samtools stats summary report parsing"

[qcparser_samtoolsidxstats__rna]
    module          = QCParser
    submodule       = SamtoolsIdxstats
    docker_image    = qcparser

    input_from      = samtools_idxstats__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna samtools idxstats summary report parsing"

[qcparser_picardinsertsizematrics__rna]
    module          = QCParser
    submodule       = PicardInsertMetrics
    docker_image    = qcparser

    input_from      = picard_collectinsertsizematrics__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna picard insert size summary report parsing"

[qcparser_samtoolscountreads__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__countreads__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna read counts mapped to the genome"

[qcparser_samtoolscountreads__ontarget__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__ontargetoverlap__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna on target read counts mapped to the genome"

[qcparser_samtoolscountreads__exon__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__exonoverlap__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna exon read counts mapped to the genome"

[qcparser_samtoolscountreads__intron__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__intronoverlap__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna intron read counts mapped to the genome"

[qcparser_samtoolscountreads__intergenic__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__intergenicoverlap__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna intergenic read counts mapped to the genome"

[qcparser_samtoolscountreads__utr__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__utroverlap__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna utr read counts mapped to the genome"

[qcparser_samtoolscountreads__rrna__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__rrnaoverlap__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna rRNA read counts mapped to the genome"

#[qcparser_samtoolscountreads__ercc__rna]
#    module          = QCParser
#    submodule       = SamtoolsCountReads
#    docker_image    = qcparser
#
#    input_from      = samtools_view__erccoverlap__rna, utils_consolidatesamplename__tna
#
#    [[args]]
#        note = "rna ERCC read counts mapped to the genome"

[qcparser_docsamplesummarystats__rna]
    module          = QCParser
    submodule       = DOCSampleSummaryStats
    docker_image    = qcparser

    input_from      = gatk_depthofcoverage__ontargetcoverage__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna on target depth of coverage stats"

[qcparser_docintervalsummarystats__rna]
    module          = QCParser
    submodule       = DOCIntervalSummaryStats
    docker_image    = qcparser

    input_from      = gatk_depthofcoverage__ontargetexoncoverage__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna on target exon depth of coverage stats"

#[qcparser_stargenereadcounts__rna]
#    module          = QCParser
#    submodule       = StarGeneReadCounts
#    docker_image    = qcparser
#
#    input_from      = star__rna, utils_consolidatesamplename__tna
#
#    [[args]]
#        note = "rna star gene read counts for ERCC"

[qcreportmerger_cbind__rna]
    module          = QCReportMerger
    submodule       = Cbind
    docker_image    = qcparser

#    input_from = qcparser_demuxtnastats__tna, qcparser_fastqc__rawfastqc__rna, qcparser_fastqc__trimfastqc__rna, qcparser_trimmomatic__rna, qcparser_samtoolsflagstat__rna, qcparser_picardinsertsizematrics__rna, qcparser_samtoolscountreads__exon__rna, qcparser_samtoolscountreads__intron__rna, qcparser_samtoolscountreads__intergenic__rna, qcparser_samtoolscountreads__utr__rna, qcparser_samtoolscountreads__rrna__rna, qcparser_docsamplesummarystats__rna, qcparser_docintervalsummarystats__rna, qcparser_samtoolscountreads__rna, qcparser_samtoolscountreads__ontarget__rna, qcparser_samtoolscountreads__ercc__rna,qcparser_stargenereadcounts__rna
    input_from = qcparser_fastqc__rawfastqc__rna, qcparser_fastqc__trimfastqc__rna, qcparser_trimmomatic__rna, qcparser_samtoolsflagstat__rna, qcparser_picardinsertsizematrics__rna, qcparser_samtoolscountreads__exon__rna, qcparser_samtoolscountreads__intron__rna, qcparser_samtoolscountreads__intergenic__rna, qcparser_samtoolscountreads__utr__rna, qcparser_samtoolscountreads__rrna__rna, qcparser_docsamplesummarystats__rna, qcparser_docintervalsummarystats__rna, qcparser_samtoolscountreads__rna, qcparser_samtoolscountreads__ontarget__rna,qcparser_samtoolsstats__rna,qcparser_samtoolsidxstats__rna