#[utils_consolidatesamplename__tna]
#    module              = Utils
#    submodule           = ConsolidateSampleName
[utils_consolidatesampleid__tna]
    module              = Utils
    submodule           = ConsolidateSampleId
[merge_bam]
    module              = MergeBams
    docker_image        = samtools
[merge_bam_rna]
    module              = MergeBamsRNA
    docker_image        = samtools
[utils_bgzipbed__tna]
    module              = Utils
    submodule           = BGZipBED
    docker_image        = bgzip
    [[args]]
        bed             = padded_target_bed
[utils_indexbed__tna]
    module              = Utils
    submodule           = IndexBED
    docker_image        = tabix
    input_from          = utils_bgzipbed__tna
[samtools_view__filter_unmapped_reads]
    module              = Samtools
    submodule           = View
    docker_image        = samtools
    input_from          = merge_bam

    [[args]]
        exclude_flag        = 4
[fgbio_clipbam]
    module              = Fgbio
    submodule           = ClipBam
    docker_image        = fgbio
    input_from          = samtools_view__filter_unmapped_reads
[samtools_index__fgbio_clipbam]
    module              = Samtools
    submodule           = Index
    docker_image        = samtools
    input_from          = fgbio_clipbam
[strelka2__dna]
    module              = Strelka2
    submodule           = Strelka2
    docker_image        = strelka2
    input_from          = utils_bgzipbed__tna, utils_indexbed__tna, fgbio_clipbam, samtools_index__fgbio_clipbam, utils_consolidatesampleid__tna
    final_output        = vcf_gz, vcf_tbi
    [[args]]
        ref             = ref
[utils_gunzipvcf__strelka2__dna]
    module              = Utils
    submodule           = GunzipVCF
    docker_image        = gunzip
    input_from          = strelka2__dna
[bcftools_bcftoolsnorm__strelka2__dna]
    module              = Bcftools
    submodule           = BCFToolsNorm
    docker_image        = bcftools
    input_from          = utils_gunzipvcf__strelka2__dna
    final_output        = vcf
    [[args]]
        ref             = ref
[annovar__strelka2__dna]
    module              = Annovar
    input_from          = bcftools_bcftoolsnorm__strelka2__dna
    final_output        = vcf
    [[args]]
        dbdir           = /ref/annovar/humandb
        operations      = "g,g,r,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol        = "ensGene,refGene,genomicSuperDups,bed,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver        = hg38
[deepvariant__dna]
    module              = DeepVariant
    submodule           = DeepVariant
    docker_image        = deepvariant
    input_from          = merge_bam, utils_consolidatesampleid__tna
    final_output        = gvcf_gz, vcf_gz, gvcf_tbi, vcf_tbi
    [[args]]
        bed             = padded_target_bed
        ref             = ref
[utils_gunzipvcf__deepvariant__dna]
    module              = Utils
    submodule           = GunzipVCF
    docker_image        = gunzip
    input_from          = deepvariant__dna
[bcftools_bcftoolsnorm__deepvariant__dna]
    module              = Bcftools
    submodule           = BCFToolsNorm
    docker_image        = bcftools
    input_from          = utils_gunzipvcf__deepvariant__dna
    final_output        = vcf
    [[args]]
        ref             = ref
[annovar__deepvariant__dna]
    module              = Annovar
    input_from          = bcftools_bcftoolsnorm__deepvariant__dna
    final_output        = vcf
    [[args]]
        dbdir           = /ref/annovar/humandb
        operations      = "g,g,r,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol        = "ensGene,refGene,genomicSuperDups,bed,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver        = hg38
[sentieon_haplotyper__dna]
    module          = Sentieon
    submodule       = Haplotyper
    docker_image    = sentieon
    input_from      = merge_bam, utils_consolidatesampleid__tna
    final_output    = vcf_gz, vcf_idx

    [[args]]
        bed         = padded_target_bed

[utils_gunzipvcf__sentieon_haplotyper__dna]

    module          = Utils
    submodule       = GunzipVCF
    docker_image    = gunzip

    input_from      = sentieon_haplotyper__dna

[bcftools_bcftoolsnorm__sentieon_haplotyper__dna]
    module = Bcftools
    submodule = BCFToolsNorm
    docker_image = bcftools

    input_from = utils_gunzipvcf__sentieon_haplotyper__dna

    final_output = vcf

    [[args]]
        ref = ref

[annovar__sentieon_haplotyper__dna]
    module          = Annovar

    input_from      = bcftools_bcftoolsnorm__sentieon_haplotyper__dna

    final_output    = vcf

    [[args]]
        dbdir   = "/ref/annovar/humandb"
        operations      = "g,g,r,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol        = "ensGene,refGene,genomicSuperDups,bed,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver = "hg38"

[variantfiltering]
    module              = VariantFiltering
    submodule           = VariantFiltering
    input_from          = annovar__strelka2__dna, annovar__sentieon_haplotyper__dna, annovar__deepvariant__dna, merge_bam, merge_bam_rna, utils_consolidatesampleid__tna
    docker_image        = variantfiltering
    final_output        = all_variants, filt_variants, wl_variants, single_sample_merge, filt_variants_val, wl_variants_val

[purity]
    module              = Purity
    submodule           = Purity
    input_from          = variantfiltering
    docker_image        = purity
    final_output        = purity_estimate

