[Docker]
    [[cnv_merger]]
        image = davelabhub/cnv_merger:latest

[Path]
    [[gene_bed]]
        resource_type   = gene_bed
        path            = gs://davelab_data/ref/human/hg38/cnv/refseq.gene.bed
    [[cyto_bed]]
        resource_type   = cyto_bed
        path            = gs://davelab_data/ref/human/hg38/cnv/cytoBand.txt