[Docker]

    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

[Path]

    [[ercc_bed]]
        resource_type = bed
        path = gs://davelab_data/ref/human/hg38/gencode/v30/other_bed/ERCC_no_polyA.bed
