[utils_consolidatesamplename__tna]
    module      = Utils
    submodule   = ConsolidateSampleName

[samtools_view__erccoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = ercc_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[qcparser_samtoolscountreads__ercc__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__erccoverlap__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna ERCC read counts mapped to the genome"

[qcparser_stargenereadcounts__rna]
    module          = QCParser
    submodule       = StarGeneReadCounts
    docker_image    = qcparser

    input_from      = star__rna, utils_consolidatesamplename__tna

    [[args]]
        note = "rna star gene read counts for ERCC"

[qcreportmerger_cbind__rna]
    module          = QCReportMerger
    submodule       = Cbind
    docker_image    = qcparser

    input_from = qcparser_samtoolscountreads__ercc__rna,qcparser_stargenereadcounts__rna

    final_output = qc_report
