[Docker]

  [[salmon]]
      image = davelabhub/salmon:1.2.1--hf69c8f4_0
      [[[salmon]]]
        resource_type = salmon
        path          = salmon

  [[tximport]]
      image = davelabhub/tximport:v20201109
      [[[tximport_script]]]
          resource_type = tximport_script
          path          = run_tximport.R

  [[gatk4]]
      image = broadinstitute/gatk:4.1.2.0
      [[[gatk4]]]
          resource_type   = gatk
          path            = gatk.jar
      [[[java]]]
          resource_type   = java
          path            = java

  [[bedsam]]
      image = davelabhub/bedsam:v20200130
      [[[bedtools]]]
          resource_type = bedtools
          path          = bedtools
      [[[samtools]]]
          resource_type = samtools
          path          = samtools
    
  [[samtools]]
      image = davelabhub/samtools:1.12--h9aed4be_1
      [[[samtools]]]
          resource_type   = samtools
          path            = samtools

  [[star]]
      image = davelabhub/star:2.7.1a--0
      [[[star]]]
          resource_type   = star
          path            = STAR

[Path]

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/rsem/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.transcripts.fa

    [[tx2gene]]
        resource_type   = tx2gene
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/gencode.v30.annotation.tx2gene

    [[anno]]
        resource_type   = anno
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/genes.bed

    [[star_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/star

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/rsem/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.transcripts.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR_primary/rsem/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.transcripts.fa.dict

