[rename_transcriptome_bam__bam]
	module 			= RenameKeys
	submodule 		= Rename_transcriptome_bam__bam
	docker_image 	= samtools
	final_output	= bam

[utils_getreadnames__spliced]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam
    input_from 		= rename_transcriptome_bam__bam
    final_output    = read_names

    [[args]]
        spliced_reads = True

[gatk_filtersamreads__spliced]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4
    input_from      = utils_getreadnames__spliced, rename_transcriptome_bam__bam
    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx
        include_reads   = True
        
[rename_bam__transcriptome_bam]
	module 			= RenameKeys
	submodule 		= Rename_bam__transcriptome_bam
	docker_image 	= samtools
	input_from 		= gatk_filtersamreads__spliced
	final_output	= transcriptome_mapped_bam

[salmon_alignmentbasedquant__rna]
    module          = Salmon
    submodule       = AlignmentBasedQuant
    docker_image    = salmon
    input_from      = rename_bam__transcriptome_bam
    final_output    = quant_file

[tximport__rna]
    module          = Tximport
    docker_image    = tximport

    input_from      = salmon_alignmentbasedquant__rna

    final_output    = quant_gene_counts, quant_gene_tpm
