
[Docker]
    [[samtools]]
        image = davelabhub/samtools:1.12--h9aed4be_1
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[viral_detection_rna]]
        image = davelabhub/viral_detection:20210623
        [[[viral_detection_rna]]]
            resource_type   = viral_detection_rna
            path            = viral_detection_rna
