
[Docker]
    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[viral_detection_rna]]
        image = davelabhub/viral_detection:20210511
        [[[viral_detection_rna]]]
            resource_type   = viral_detection_rna
            path            = viral_detection_rna
