[rename_rna_bam_to_bam]
    module          = RenameKeys
    submodule       = RenameRnaBamToBam
    docker_image    = samtools
    final_output    = bam

[viral_detection_rna_sort]
    module          = Samtools
    submodule       = Sort_by_Name
    docker_image    = samtools
    input_from      = rename_rna_bam_to_bam
    final_output    = bam

[rename_bam_to_rna_bam]
    module          = RenameKeys
    submodule       = RenameRNA
    docker_image    = samtools
    input_from      = viral_detection_rna_sort
    final_output    = rna_bam


[viral_detection_rna]
    module          = ViralDetectionRNA
    submodule       = ViralDetectionRNA
    docker_image    = viral_detection_rna
    input_from      = rename_bam_to_rna_bam
    final_output    = paired_viral_sam, paired_viral_rna_all_log, paired_viral_logf, idxstats