# docker needs to have image tag
[Docker]
    [[snp_fingerprint]]
        image = davelabhub/snp_fingerprint:20210405
        [[[snp_fingerprint]]]
            resource_type = snp_fingerprint
            path = snp_fingerprint
[Path]
    [[ref]]
        resource_type = ref
        path = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa*
    [[ref_idx]]
        resource_type = ref_idx
        path = gs://davelab_data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa.fai
